body {
    background: #eff2df; 
   }
h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-align: left;
    
 }
 p1 {
    font-size: 50px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    background: rgb(164, 179, 221);
 }
 p2 {
   font-size: 50px;
   text-align: left;
   font-family: 'Times New Roman', Times, serif;
   color: red;
   background: rgb(164, 179, 221);
}